.art-absolute {
  position: absolute
}

.art-relative {
  position: relative
}

.art-sticky {
  position: -webkit-sticky;
  position: sticky
}

.art-inset-0 {
  inset: 0px
}

.art-right-1 {
  right: 0.25rem
}

.art-top-0 {
  top: 0px
}

.art-top-1 {
  top: 0.25rem
}

.art-top-24 {
  top: 6rem
}

.art-z-10 {
  z-index: 10
}

.art-col-span-2 {
  grid-column: span 2 / span 2
}

.art-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.art-my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.art-mb-1 {
  margin-bottom: 0.25rem
}

.art-mb-2 {
  margin-bottom: 0.5rem
}

.art-mb-3 {
  margin-bottom: 0.75rem
}

.art-mb-4 {
  margin-bottom: 1rem
}

.art-mt-1 {
  margin-top: 0.25rem
}

.art-mt-2 {
  margin-top: 0.5rem
}

.art-mt-4 {
  margin-top: 1rem
}

.art-block {
  display: block
}

.art-flex {
  display: flex
}

.art-grid {
  display: grid
}

.art-hidden {
  display: none
}

.art-h-2 {
  height: 0.5rem
}

.art-h-3 {
  height: 0.75rem
}

.art-h-8 {
  height: 2rem
}

.art-h-6 {
  height: 1.5rem
}

.art-max-h-64 {
  max-height: 16rem
}

.art-max-h-96 {
  max-height: 24rem
}

.art-min-h-screen {
  min-height: 100vh
}

.art-w-1\/3 {
  width: 33.333333%
}

.art-w-3 {
  width: 0.75rem
}

.art-w-48 {
  width: 12rem
}

.art-w-8 {
  width: 2rem
}

.art-w-full {
  width: 100%
}

.art-w-6 {
  width: 1.5rem
}

.art-max-w-6xl {
  max-width: 72rem
}

.art-max-w-sm {
  max-width: 24rem
}

.art-flex-1 {
  flex: 1 1 0%
}

.art-cursor-pointer {
  cursor: pointer
}

.art-list-decimal {
  list-style-type: decimal
}

.art-list-disc {
  list-style-type: disc
}

.art-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.art-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.art-flex-wrap {
  flex-wrap: wrap
}

.art-items-center {
  align-items: center
}

.art-justify-center {
  justify-content: center
}

.art-justify-between {
  justify-content: space-between
}

.art-gap-1 {
  gap: 0.25rem
}

.art-gap-2 {
  gap: 0.5rem
}

.art-gap-3 {
  gap: 0.75rem
}

.art-gap-6 {
  gap: 1.5rem
}

.art-gap-4 {
  gap: 1rem
}

.art-space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse))
}

.art-space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}

.art-space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse))
}

.art-space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

.art-space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse))
}

.art-overflow-y-auto {
  overflow-y: auto
}

.art-rounded {
  border-radius: 0.25rem
}

.art-rounded-2xl {
  border-radius: 1rem
}

.art-rounded-full {
  border-radius: 9999px
}

.art-rounded-lg {
  border-radius: 0.5rem
}

.art-rounded-xl {
  border-radius: 0.75rem
}

.art-border {
  border-width: 1px
}

.art-border-2 {
  border-width: 2px
}

.art-border-b {
  border-bottom-width: 1px
}

.art-border-t {
  border-top-width: 1px
}

.art-border-dashed {
  border-style: dashed
}

.art-border-blue-200 {
  --tw-border-opacity: 1;
  border-color: rgb(191 219 254 / var(--tw-border-opacity, 1))
}

.art-border-blue-300 {
  --tw-border-opacity: 1;
  border-color: rgb(147 197 253 / var(--tw-border-opacity, 1))
}

.art-border-blue-500 {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity, 1))
}

.art-border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1))
}

.art-border-slate-200 {
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity, 1))
}

.art-border-slate-300 {
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity, 1))
}

.art-border-slate-900 {
  --tw-border-opacity: 1;
  border-color: rgb(15 23 42 / var(--tw-border-opacity, 1))
}

.art-bg-black\/50 {
  background-color: rgb(0 0 0 / 0.5)
}

.art-bg-blue-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 246 255 / var(--tw-bg-opacity, 1))
}

.art-bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1))
}

.art-bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1))
}

.art-bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1))
}

.art-bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity, 1))
}

.art-bg-green-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity, 1))
}

.art-bg-red-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity, 1))
}

.art-bg-slate-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity, 1))
}

.art-bg-slate-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity, 1))
}

.art-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.art-bg-white\/70 {
  background-color: rgb(255 255 255 / 0.7)
}

.art-bg-white\/80 {
  background-color: rgb(255 255 255 / 0.8)
}

.art-bg-yellow-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(250 204 21 / var(--tw-bg-opacity, 1))
}

.art-bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1))
}

.art-bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1))
}

.art-bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops))
}

.art-from-slate-100 {
  --tw-gradient-from: #f1f5f9 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(241 245 249 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.art-via-slate-50 {
  --tw-gradient-to: rgb(248 250 252 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #f8fafc var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.art-to-white {
  --tw-gradient-to: #fff var(--tw-gradient-to-position)
}

.art-object-cover {
  object-fit: cover
}

.art-p-1 {
  padding: 0.25rem
}

.art-p-2 {
  padding: 0.5rem
}

.art-p-3 {
  padding: 0.75rem
}

.art-p-4 {
  padding: 1rem
}

.art-p-6 {
  padding: 1.5rem
}

.art-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.art-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.art-px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.art-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.art-py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

.art-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.art-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.art-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.art-pb-4 {
  padding-bottom: 1rem
}

.art-pl-5 {
  padding-left: 1.25rem
}

.art-text-center {
  text-align: center
}

.art-font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

.art-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.art-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.art-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.art-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.art-text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.art-font-bold {
  font-weight: 700
}

.art-font-medium {
  font-weight: 500
}

.art-font-semibold {
  font-weight: 600
}

.art-tracking-tight {
  letter-spacing: -0.025em
}

.art-text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1))
}

.art-text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity, 1))
}

.art-text-blue-700 {
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity, 1))
}

.art-text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1))
}

.art-text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1))
}

.art-text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1))
}

.art-text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity, 1))
}

.art-text-slate-500 {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity, 1))
}

.art-text-slate-600 {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity, 1))
}

.art-text-slate-700 {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity, 1))
}

.art-text-slate-800 {
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity, 1))
}

.art-text-slate-900 {
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity, 1))
}

.art-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.art-underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline
}

.art-shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.art-shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.art-backdrop-blur-xl {
  --tw-backdrop-blur: blur(24px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.art-transition {
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.art-transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.art-transition-colors {
  transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.art-duration-200 {
  transition-duration: 200ms
}

.art-duration-300 {
  transition-duration: 300ms
}

.hover\:art-bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1))
}

.hover\:art-bg-slate-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1))
}

.hover\:art-bg-blue-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1))
}

.hover\:art-shadow-lg:hover {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

@media (min-width: 768px) {
  .md\:art-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}

@media (min-width: 1024px) {
  .lg\:art-col-span-1 {
    grid-column: span 1 / span 1
  }

  .lg\:art-col-span-3 {
    grid-column: span 3 / span 3
  }

  .lg\:art-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }
}